// Font definitions

@font-face {
    font-family: "Halis";
    src: url("/fonts/halis-regular.woff") format("woff")
}

@font-face {
font-family: "Halis-Bold";
src: url("/fonts/halis-bold.woff") format("woff")
}  

// Make sure anything that is bold by default uses the correct font
h1, h2, h3, h4, h5, h6, strong, b {
    font-family: "Halis-Bold";
}

// Core layout classes 

body { // Keeps scrollbars from ever showing at the browser window level
    overflow-y: hidden;
    overflow-x: hidden;
}

.app { // Uses a CSS grid which won't work with older versions of IE
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: [sidenav] 260px [content] 1fr;
    grid-template-rows: [header] 88px [content] 1fr;
    grid-template-areas:
        "sidenav header"
        "sidenav main";
    &__sidenav {
        grid-area: sidenav;
        background: $white;
        box-shadow: 5px 0 15px 0 rgba(94, 94, 94, 0.15);
    }
    &__header {
        grid-area: header;
        display:flex;
        align-items: center;
        background: var(--very-dark-grey);
        color: var(--white);
        font-family: 'Halis-Bold';
    }
    &__main {
        grid-area: main;
        padding: 15px 10px;
        overflow-x: hidden;
    }
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Halis-Bold';
    &__brand {
        padding: 43px 46px;
    }
    &__menu {
        flex: 1;
    }
    &__footer {
        position: relative;
    }
    &__goose {
        padding-left:34px;
        padding-top: 20px;
    }
    &__stats {
        display:none; // tmp
        height: 184px;
        background-image: linear-gradient(to bottom, #f4f8f9, #f4f8f9), linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    }
}

// Bootstrap overrides
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: rgba(247,186,41, 0.1);
    border-right: 4px solid var(--goose-yellow);
}